@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CoFo Sans";
  src: local("CoFo Sans Bold"), local("CoFoSans-Bold"),
    url("../fonts/CoFoSans-Bold.woff2") format("woff2"),
    url("../fonts/CoFoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "CoFo Sans";
  src: local("CoFo Sans Black"), local("CoFoSans-Black"),
    url("../fonts/CoFoSans-Black.woff2") format("woff2"),
    url("../fonts/CoFoSans-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "CoFo Sans";
  src: local("CoFo Sans"), local("CoFoSans-Regular"),
    url("../fonts/CoFoSans-Regular.woff2") format("woff2"),
    url("../fonts/CoFoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoFo Sans";
  src: local("CoFo Sans Medium"), local("CoFoSans-Medium"),
    url("../fonts/CoFoSans-Medium.woff2") format("woff2"),
    url("../fonts/CoFoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  font-family: "CoFo Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
figcaption {
  padding: 0;
  margin: 0;
}
#root, .App, .App > div {
    
    min-height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
button {
  cursor: pointer;
}
.header {
  background-color: #000;
  color: #fff;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  line-height: 40px;
}
.header__city-button {
  background-color: transparent;
  color: inherit;
  padding: 0 12px;
  border: none;
  height: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header__city-button:hover {
  background-color: #0060d2;
}
@media (max-width: 480px) {
  .header__city-button {
    margin: 0 auto;
  }
}
.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  height: 100%;
}
@media (max-width: 480px) {
  .header__right-block {
    display: none;
  }
}
.header__pay,
.header__delivery {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header__pay:hover,
.header__delivery:hover {
  background-color: #0060d2;
}
@media (max-width: 768px) {
  .header__pay,
  .header__delivery {
    display: none;
  }
}
.header__birthday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f93c00;
  max-height: 100%;
}
.header__birthday-img {
  max-height: 100%;
}
.header__birthday *:not(:last-child) {
  margin-right: 5px;
}
.subheader {
  min-height: 90px;
}
@media (max-width: 768px) {
  .subheader {
    padding-top: 30px;
  }
}
.subheader__wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 90px;
}
@media (max-width: 768px) {
  .subheader__wrapper {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.subheader__logo {
  display: block;
  max-width: 180px;
  -ms-grid-column-align: center;
  justify-self: center;
}
@media (max-width: 768px) {
  .subheader__navigation {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}
.subheader__cart {
  display: block;
  -ms-grid-column-align: end;
  justify-self: end;
  background-color: transparent;
  background-image: url("/img/cart.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 28px;
  border: none;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
@media (max-width: 768px) {
  .navigation__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.promo__grid-image {
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}
.promo__grid {
  display: -ms-grid;
  display: grid;
  gap: 16px;
  margin-bottom: 16px;
}
.promo__grid-item__big {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.promo__grid-item__small {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
.promo__grid-reverse-item__big {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.promo__grid-reverse-item__small {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
@media (max-width: 768px) {
  .promo__grid-item__small {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .promo__grid-item__small:nth-child(odd) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .promo__grid-reverse-item__big {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .promo__grid-reverse-item__small {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .promo__grid-reverse-item__small:nth-child(odd) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
@media (max-width: 550px) {
  .promo__grid-item__big {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .promo__grid-item__small {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .promo__grid-item__small:nth-child(odd) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .promo__grid-reverse-item__big {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .promo__grid-reverse-item__small {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .promo__grid-reverse-item__small:nth-child(odd) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.goods {
  padding-bottom: 30px;
}
.goods__title {
  margin-bottom: 30px;
}
@media (max-width: 480px) {
  .goods__title {
    text-align: center;
  }
}
.goods__list {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .goods__list {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .goods__list {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .goods__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.goods__item {
  -ms-grid-column-align: center;
  justify-self: center;
}
.good {
  -webkit-box-shadow: 0px 0px 3px #ccc;
  box-shadow: 0px 0px 3px #ccc;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.good:hover {
  -webkit-box-shadow: 0px 0px 5px #aaa;
  box-shadow: 0px 0px 5px #aaa;
}
@media (max-width: 480px) {
  .good {
    max-width: 320px;
  }
}
.good__price {
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}
.good__title {
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
}
.good__title__grey {
  color: #888;
}
.good__sizes {
  margin-bottom: 10px;
  color: #888;
  text-align: left;
}
.good__link {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  background-image: url("/img/more.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 auto;
  padding-left: 20px;
}
.good__description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (auto) [4];
  grid-template-rows: repeat(4, auto);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  height: 100%;
  padding: 15px;
  text-align: center;
  font-size: 13px;
}
.card-good__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 968px) {
  .card-good__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.card-good__image-wrapper {
  max-width: 750px;
}
.card-good__description {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 750px;
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
}
@media (max-width: 968px) {
  .card-good__description {
    display: -ms-grid;
    display: grid;
    gap: 20px;
  }
}
.card-good__brand {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 15px;
}
.card-good__title-wrapper {
  margin-bottom: 15px;
}
.card-good__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.card-good__select__wrapper {
  position: relative;
}
.card-good__select {
  position: relative;
  padding: 8px 24px;
  text-align: left;
  background-color: transparent;
  width: 100%;
  height: 58px;
  border: 1px solid #888;
  border-radius: 3px;
}
.card-good__select:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  border-style: solid;
  border-color: transparent transparent #000 #000;
  border-width: 1px;
  z-index: 1;
  -webkit-transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}
.card-good__select__open {
  border-bottom-color: #ccc;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-good__select__open:after {
  margin-top: 6px;
  border-color: #000 #000 transparent transparent;
}
.card-good__select__open + .card-good__select-list {
  display: block;
}
.card-good__select-list {
  display: none;
  position: absolute;
  max-height: 150px;
  overflow: auto;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #000;
  border-top-color: #ccc;
  padding: 0;
}
.card-good__select-item {
  padding: 8px;
}
.card-good__select-item:hover {
  background-color: #ccc;
}
@media (max-width: 968px) {
  .card-good__title-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
@media (max-width: 520px) {
  .card-good__title-wrapper {
    grid-column: auto;
    grid-row: auto;
  }
}
.card-good__price {
  margin-bottom: 30px;
}
@media (max-width: 968px) {
  .card-good__price {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
@media (max-width: 520px) {
  .card-good__price {
    grid-column: auto;
    grid-row: auto;
  }
}
.card-good__color-wrapper {
  margin-bottom: 15px;
}
@media (max-width: 968px) {
  .card-good__color-wrapper {
    margin-bottom: 0;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}
@media (max-width: 520px) {
  .card-good__color-wrapper {
    grid-column: auto;
    grid-row: auto;
  }
}
.card-good__sizes-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 968px) {
  .card-good__sizes-wrapper {
    margin-bottom: 0;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
@media (max-width: 520px) {
  .card-good__sizes-wrapper {
    grid-column: auto;
    grid-row: auto;
  }
}
.card-good__buy {
  width: 100%;
  height: 48px;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  background-color: #2796ff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(39, 150, 255, 0.6);
  box-shadow: 0 2px 8px 0 rgba(39, 150, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 32px;
}
@media (max-width: 968px) {
  .card-good__buy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}
@media (max-width: 520px) {
  .card-good__buy {
    grid-column: auto;
    grid-row: auto;
  }
}
.cart-overlay {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  -webkit-animation: fadeIn 300ms ease-in-out;
  animation: fadeIn 300ms ease-in-out;
}
.cart-overlay-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart {
  position: relative;
  max-width: 100%;
  min-height: 200px;
  border-radius: 8px;
  border: none;
  padding: 30px;
  background-color: #000;
  color: #fff;
  font-weight: 300;
}
.cart__table-wrapper {
  overflow-y: auto;
  max-width: 100%;
}
.cart__table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 30px;
}
.cart__col-name {
  min-width: 230px;
}
.cart__col-price {
  min-width: 100px;
}
.cart__title {
  text-align: left;
  font-size: 32px;
  margin-bottom: 15px;
}
.cart th,
.cart td {
  border: 1px solid #fff;
  padding: 5px 10px;
}
.cart__title-number {
  text-align: left;
}
.cart__cell-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.cart__promo {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.cart__btn-buy {
  width: 100%;
  height: 48px;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  color: #fff;
  background-color: #2796ff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(39, 150, 255, 0.6);
  box-shadow: 0 2px 8px 0 rgba(39, 150, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 32px;
}
.cart__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.cart__btn-close::before,
.cart__btn-close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  left: 5px;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cart__btn-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cart__btn-close:focus::before,
.cart__btn-close:hover::before,
.cart__btn-close:focus::after,
.cart__btn-close:hover::after {
  border-color: #f93c00;
}
.btn-delete {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 700;
}
.btn-delete:hover {
  color: #f93c00;
  text-shadow: 0 0 3px #f93c00;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  padding: 25px 0;
  background-color: #000;
  color: #fff;
}
.footer__columns {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1096px) {
  .footer__columns {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .footer__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer__column-title {
  margin-bottom: 10px;
}
.footer__column-list:not(:last-child) {
  margin-bottom: 20px;
}
.footer__column-item {
  margin-bottom: 5px;
}
.footer__column-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.footer__column-icons__app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__social-item {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__social-item_fb {
  background-image: url(/img/facebook.svg);
}
.footer__social-item_fb:hover {
  background-image: url(/img/facebook_hover.svg);
}
.footer__social-item_vk {
  background-image: url(/img/vk.svg);
}
.footer__social-item_vk:hover {
  background-image: url(/img/vk_hover.svg);
}
.footer__social-item_yt {
  background-image: url(/img/youtube.svg);
}
.footer__social-item_yt:hover {
  background-image: url(/img/youtube_hover.svg);
}
.footer__social-item_ig {
  background-image: url(/img/instagram.svg);
}
.footer__social-item_ig:hover {
  background-image: url(/img/instagram_hover.svg);
}
.footer__column-icon {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__icon-mastercard {
  width: 43px;
  height: 28px;
  background-image: url(/img/footer__icon-mastercard.svg);
}
.footer__icon-visa {
  width: 49px;
  height: 16px;
  background-image: url(/img/footer__icon-visa.svg);
}
.footer__icon-mir {
  width: 57px;
  height: 16px;
  background-image: url(/img/footer__icon-mir.svg);
}
.footer__block-icon {
  display: block;
  width: 85px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__icon-appstore {
  background-image: url(/img/footer__icon-appstore.svg);
}
.footer__icon-googleplay {
  background-image: url(/img/footer__icon-googleplay.svg);
}
.footer__icon-huaweistore {
  background-image: url(/img/footer__icon-huaweistore.svg);
}
/*# sourceMappingURL=style.min.css.map */
